extends layout

block content
  h2 #{title}
  h3 #{message}
  address
    | Express Way
    br
    | Bonn, NRW
    br
    abbr(title='Phone') P: 
    | Unknown

  address
    strong Support: 
    a(href='mailto:#{supportMail}') #{supportMail}
    br
    strong Marketing: 
    a(href='mailto:#{marketingMail}') #{marketingMail}
